PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb://localhost:27017/cyber-forensics
JWT_SECRET=your_jwt_secret_here
JWT_REFRESH_SECRET=your_jwt_refresh_secret_here
JWT_EXPIRE=15m
JWT_REFRESH_EXPIRE=7d
FRONTEND_URL=http://localhost:5173
REDIS_URL=redis://localhost:6379

# Razorpay (test mode)
RAZORPAY_KEY_ID=rzp_test_Syh1bUaN3wEUVB
RAZORPAY_KEY_SECRET=2LNWW0NelcxbkTHF0q62Gyhn
REGISTRATION_FEE_PAISE=49900
